<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arrivals</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
  <div class="header_container">
    <div class="logo">
      <img src="/images/logo_main.png" alt="Logo">
    </div>
    <div class="search-box">
      <text>Flight.No</text>
      <form action="/find" method="GET">
        <input type="text"  id="query" name="query" placeholder="Search">
        <button type="submit">Search</button>
    </div>
  </div>
</header>
<nav>
  <div class="header_container">
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/database1"><div class="highlight">Arrival</div></a>
    <a href="http://localhost:3000/database2">Departure</a>
    <a href="#">Cargo</a>
  </div>
</nav>
<ul id="data-list"></ul>
<div class="background"><img src="/images/arrival_background.jpg" height="950" width="1600" alt="arrival_background"></div>
<div class="container">
  <div class="content">
    <ul class="data-list">
        <% data.forEach(item => { %>
            <li class="data-item">
                <div class="item-title">Flight Number: <%= item.flightNumber %></div>
                <div class="item-info">
                    <p>Origin: <%= item.origin %></p>
                    <p>Scheduled Arrival Time: <%= item.scheduledArrivalTime %></p>
                    <p>Estimated Arrival Time: <%= item.estimatedArrivalTime %></p>
                    <p>Status: <%= item.status %></p>
                    <p>Gate: <%= item.gate %></p>
                    <p>Baggage Claim: <%= item.baggageClaim %></p>
                    <p>Airline: <%= item.airline %></p>
                    <p>Terminal: <%= item.terminal %></p>
                    <p>Remarks: <%= item.remarks %></p>
                </div>
            </li>
        <% }); %>
    </ul>
</div>
</div>
</body>
</html>