<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
  <div class="header_container">
    <div class="logo">
      <img src="/images/logo_main.png" alt="Logo">
    </div>
    <div class="search-box">
      <span>Flight.No</span>
      <form action="/client_search" method="GET">
        <input type="text"  id="query" name="query" placeholder="Search">
        <button type="submit">Search</button>
      </form>
      <div class="dropdown">
        <button class="button-2" type="submit"><h4><%= clientFlightDetails.email %></h4>Drop Down</button>
        <div class="dropdown-content">
          <form action="/" method="GET">
            <button class="button-2" type="submit">Log-Out</button>
          </form>
          <form action="/tickets" method="GET">
            <button class="button-2" type="submit">Other Tickets</button>
          </form>
        </div>
    </div>
    </div>
  </div>
</header>
<nav>
  <div class="header_container">
    <a href="#" id="client_acc_page_link"><div class="highlight">Home</div></a>
    <a href="#" id="client_arrival_link">Arrival</a>
    <a href="#" id="client_departure_link">Departure</a>
    <a href="http://localhost:3000/client_book_page">Book</a>
    <a href="http://localhost:3000/cargo">Cargo</a>
  </div>
  <form id="client_acc_page_form" action="/client_acc_page" method="GET">
    <button class="button-2" type="submit" style="display: none;">Home</button>
  </form>
  <form id="client_arrival_form" action="/client_arrival" method="GET">
    <button class="button-2" type="submit" style="display: none;">Arrival</button>
  </form>
  <form id="client_departure_form" action="/client_departure" method="GET">
    <button class="button-2" type="submit" style="display: none;">Departure</button>
  </form>
</nav>
<div class="container_2">
<% if ( clientFlightDetails.hasOwnProperty('flightNumber')) { %>
  <% if (arrivalDetails.remarks == "None") { %>
  <div class="background_client"><img src="/images/today3.png" height="650" width="1550" alt="arrival_background"></div>
  <div class="delay_box_2">
    <p> : Due to weather conditions</p>
  </div>
  <% } else { %>
    <div class="background_client"><img src="/images/today2.png" height="650" width="1550" alt="arrival_background"></div>
    <div class="delay_box">
    <p>: <%= departureDetails.remarks %></p>
  </div>
    <% } %>
  <div class="logo_from">
    <% if (departureDetails.airline) { %>
      <img src="/images/airline_logo/<%= arrivalDetails.airline %>.png" alt="Logo">
    <% } else { %>
      <p>No airline logo available</p>
    <% } %>
  </div>
  <div class="logo_to">
    <% if (departureDetails.airline) { %>
      <img src="/images/airline_logo/<%= arrivalDetails.airline %>.png" alt="Logo">
    <% } else { %>
      <p>No airline logo available</p>
    <% } %>
  </div>
</div>
  <div class="container_2">
<div class="from_box"><p><b><%= arrivalDetails.origin %></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Date:</b> <%= departureDetails.date %></p></div>
<div class="to_box"><p><b><%= departureDetails.destination %></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Date:</b> <%= arrivalDetails.date %></p></div>
  </div>
  <div class="container_2">
<div class="transparent_box">
  <p><b>Ticket Holder Name:</b>&nbsp;<%= clientFlightDetails.name %></p>
  <p>(<%= clientFlightDetails.email %>)</p><br>
  <p><b>Flight Number:</b> <%= clientFlightDetails.flightNumber %><b>&nbsp;&nbsp;&nbsp;&nbsp;Status:</b> <%= departureDetails.status %></p><br>
  <p><b>Gate:</b> <%=  departureDetails.gate %> (<%=  departureDetails.terminal %>)</p>
  <% if ( departureDetails.status !== "Delayed") { %>
    <br><p style="font-size: 12px;"><b>Departure Time:</p></b>
    <p><%=  departureDetails['departure Time'] %></p>
  <% } else { %>
 <br><p style="font-size: 12px;"><b>Scheduled Departure Time:&nbsp;&nbsp;&nbsp;&nbsp;Estimated Departure Time:</p></b>
 <p><%=  departureDetails['departure Time'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  departureDetails['estimated Departure Time'] %></p>
  <% } %>
</div>
<div class="transparent_box_2">
  <p><b>Ticket Holder Name:</b>&nbsp;<%= clientFlightDetails.name %></p>
  <p>(<%= clientFlightDetails.email %>)</p><br>
  <p><b>Flight Number:</b> <%= clientFlightDetails.flightNumber %><b>&nbsp;&nbsp;&nbsp;&nbsp;Status:</b> <%= arrivalDetails.status %></p><br>
  <p><b>Gate:</b> <%= arrivalDetails.gate %> (<%= arrivalDetails.terminal %>)&nbsp;&nbsp;&nbsp;&nbsp;<b>Baggage Belt:</b> <%= arrivalDetails['baggage Claim Belt'] %></p>
  <% if (arrivalDetails.status == "Landed") { %>
    <br><p style="font-size: 12px;"><b>Arrival Time:</p></b>
    <p><%= arrivalDetails['arrival Time'] %></p>
  <% } else { %>
 <br><p style="font-size: 12px;"><b>Scheduled Arrival Time:&nbsp;&nbsp;&nbsp;&nbsp;Estimated Arrival Time:</p></b>
 <p><%= arrivalDetails['arrival Time'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= arrivalDetails['estimated Arrival Time'] %></p>
  <% } %>
</div>
</div>
<% } else { %>
  <div class="background_client"><img src="/images/no_flight.png" height="650" width="1550" alt="arrival_background"></div>
  <div class="largeletter"><p>Dear,<%= clientFlightDetails.name %></p><p>You Have No Flights</p><p>Today :)</p></div>
<% } %>
<script>
  document.getElementById("client_acc_page_link").addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default behavior of the link
    document.getElementById("client_acc_page_form").submit(); // Submit the form
  });

    document.getElementById("client_arrival_link").addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default behavior of the link
    document.getElementById("client_arrival_form").submit(); // Submit the form
  });

    document.getElementById("client_departure_link").addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default behavior of the link
    document.getElementById("client_departure_form").submit(); // Submit the form
  });
</script>
</body>
</html>