<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Departure</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
  <div class="header_container">
    <div class="logo">
      <img src="/images/logo_main.png" alt="Logo">
    </div>
    <h1>Delhi</h1>
    <div class="search-box">
      <span>Flight.No</span>
      <form action="/search" method="GET">
        <input type="text"  id="query" name="query" placeholder="Search">
        <button type="submit">Search</button>
      </form>
      <form action="/" method="GET">
        <button class="button-2" type="submit">Login</button>
      </form>
    </div>
  </div>
</header>
<nav>
  <div class="header_container">
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/database1">Arrival</a>
    <a href="http://localhost:3000/database2"><div class="highlight">Departure</div></a>
    <a href="http://localhost:3000/book">Book</a>
    <a href="http://localhost:3000/cargo">Cargo</a>
  </div>
</nav>
<ul id="dataList"></ul>
<div class="background"><img src="/images/departure_background.jpeg" height="1000" width="1800" alt="departure_background"></div>
<div class="container">
<div class="content">
  <ul class="dta-list">
    <% data.sort((a, b) => new Date(a['estimated Departure Time']) - new Date(b['estimated Departure Time'])); %>
    <% data.forEach(item => { %>
      <% if (item.status !== "Departed") { %>
        <li class="data-item">
            <div class="item-title">Flight Number: <%= item.flightNumber %></div>
            <div class="item-info">
              <p>Airline: <%= item.airline %></p>
              <p>Destination: <%= item.destination %></p>
              <p>Date: <%= item.date %></p>
              <p>Status: <%= item.status %></p>
              <p>Departure Time: <%= item['departure Time'] %></p>
              <p>Estimated Departure Time: <%= item['estimated Departure Time'] %></p>
              <p>Terminal: <%= item.terminal %></p>
              <p>Gate: <%= item.gate %></p>
              <p>Remarks: <%= item.remarks %></p>
            </div>
        </li>
      <% } %>
    <% }); %>
</ul>
    <ul class="dta-list">
      <% data.forEach(item => { %>
        <% if (item.status == "Departed") { %>
          <li class="data-item">
              <div class="item-title">Flight Number: <%= item.flightNumber %></div>
              <div class="item-info">
                <p>Airline: <%= item.airline %></p>
                <p>Destination: <%= item.destination %></p>
                <p>Date: <%= item.date %></p>
                <p>Status: <%= item.status %></p>
                <p>Departure Time: <%= item['estimated Departure Time'] %></p>
              </div>
          </li>
          <% } %>
      <% }); %>
  </ul>
</div>
</div>
</body>
</html>